@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
    background: url("images/pattern-background-desktop.svg") no-repeat fixed;
    background-color: hsl(225, 100%, 94%);
    background-size: 100%;
    box-sizing: border-box;
}

h1 {
    font-weight: 900;
    font-size: 1.7em;
    color: hsl(223, 47%, 23%);
}

button {
  background-color: hsl(245, 75%, 52%);
  color: white;
  border: none;
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 17px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 15px 25px 0 rgba(56, 41, 224, 0.3);
  -moz-box-shadow: 0 15px 25px 0 rgba(56, 41, 224, 0.3);
  -o-box-shadow: 0 15px 25px 0 rgba(56, 41, 224, 0.3);
  -ms-box-shadow: 0 15px 25px 0 rgba(56, 41, 224, 0.3);
  box-shadow: 0 15px 25px 0 rgba(56, 41, 224, 0.3);
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: all ease 0.5s;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 20px;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 20px 100px -50px rgba(56, 41, 224, 0.7);
}

.card-img {
    border-radius: 20px 20px 0 0;
    align-self: stretch;
}

.card-content {
    padding: 20px 20px 40px 20px;
}

.card-content > p {
    max-width: 30ch;
    line-height: 1.6em;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
}

.pricing-container {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 30px;
}

.pricing-wrapper {
    text-align: left;
    font-size: 18px;
    padding: 10px;
}

.pricing-title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: -15px;
    color: hsl(223, 47%, 23%);
}

.price {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
}

.pricing-container a {
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    transition: all ease 0.5s;
}

.pricing-container a:hover {
    text-decoration: none;
    opacity: 0.8;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cancel {
    text-decoration: none;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.5);
    transition: all ease 0.5s;
}

.cancel:hover {
    color: hsl(223, 47%, 23%);
}